html {
    background-color: #23292e;
    width: 240px;
    height: auto;
}

#header {
    background-color: #343d46;
    top: 0;
    height: auto;
    border-radius: 3px;
    padding: 3px;
}

#container {
    background-color: #343d46;
    height: auto;
    border-radius: 3px;
    padding: 3px;
}

h3 {
    color: white;
    text-align: center;
}
